<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=content-width" />
    <title>Amazon Books</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


</head>

<body>
   @RenderBody()
</body>
</html>