
@model ProjectListViewModel
<head>
    <link runat="server" rel="shortcut icon" href="img/book.png" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AbbyWakeAss5</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @*<div class="col-1">
            <vc:navigation-menu />
        </div>*@
    <div class="container col-8">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    </div>
    <patrial name="ProjectSummary"></patrial>

</body>



