

<!--
I know the video showed how to do it with the model, but I kept having bugs, but the bugs were my fault because I spelled partial wrong,
    but I fixed that but just
    devided to keep this beause i am stupid . But it will load to anywhere where the"link " is. 
-->
<center>
    <p>Not seeing a book? Email us at amazonBookRequest@amazon.com</p>
</center>
